<?xml version="1.0"?>
<launch>
  <arg name="map_file" default="easy.yaml"/>
  <include file="$(find flightgoggles)/launch/core.launch">
  </include>

  <include file="$(find visualizer)/launch/view.launch">
  </include>

  <include file="$(find flightcontroller)/launch/angle.launch">
  </include>

  <include file="$(find flightcontroller)/launch/velocity.launch">
  </include>

  <include file="$(find flightcontroller)/launch/position.launch">
  </include>

  <node name="path_planner" pkg="simple_control" type="path_planner.py" output="screen" />
  <node name="tower_to_map" pkg="simple_control" type="tower_to_map.py" output="screen" />
  <node name="rescue_node" pkg="simple_control" type="rescue.py" output="screen" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find flightcontroller)/maps/$(arg map_file)"/>
  <node name="hiker_node" pkg="flightcontroller" type="hiker.py" output="screen" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="tower_broadcaster" args="-128.575095105 77.2557112365 0 0.523599 0 0 tower world"/>
  <!-- -0.523599 -->
</launch>